<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		.*{
			padding: 0;
			margin: 0;
		}
		table{
			border-collapse: collapse;
		}
		th,td{
			padding: 10px;
			border: 1px solid #ccc;
			text-align: center;
		}
	</style>
</head>
<body>
	<div id="app">
		<table>
			<thead>
				<tr>
					<th><input type="checkbox" v-on:click="checkedAll" v-model="checked"></th>
					<th>商品名称</th>
					<th>商品单价</th>
					<th>商品数量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody v-if="list.length">
				<tr v-for="(item,index) in list">
					<td><input type="checkbox" name="selectList" :value="index" v-model="selectList" :id="item.id"></td>
					<td>{{item.name}}</td>
					<td>{{item.price}}</td>
					<td>
						<button @click="decrement(index)" :disabled="item.count===1">-</button>
						{{item.count}}
						<button @click="increment(index)">+</button>
					</td>
					<td>
						<button @click="removeItem(index)">删除</button>
					</td>
				</tr>
				<tr>
					<td colspan="5" style="text-align: left;">总价：￥{{totalPrice}}</td>
				</tr>
			</tbody>
			<tbody v-else>
				<tr>
					<td colspan="5">购物车没有商品</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		let model={
			list:[
				{
					id:1,
					name:"鞋子",
					price:120,
					count:1
				},
				{
					id:1,
					name:"衣服",
					price:100,
					count:1
				},
				{
					id:1,
					name:"包包",
					price:80,
					count:1
				},
				{
					id:1,
					name:"裙子",
					price:60,
					count:1
				}
			],
			selectList:[],
			checked:false,
		}
		const vm=new Vue({
			el:"#app",
			data:model,
			computed:{
				totalPrice(){
					let total=0;
					for(var i = 0,len = this.selectList.length;i < len;i++){
					    var index = this.selectList[i];
					    var item = this.list[index];
					    if(item){
					     	total += item.price * item.count;
					    }
					    else{
					     	continue;
					    }
				   }
				   return total.toString().replace(/\B(?=(\d{3})+$)/g,',');
				}
			},
			methods:{
				decrement(index){
					let item=this.list[index];
					if(item.count<2){
						return;
					}
					item.count--;
				},
				increment(index){
					item=this.list[index];
					item.count++;
				},
				removeItem(index){
					this.list.splice(index,1);
				},
				checkedAll(){
					let selectList=document.getElementsByName("selectList");
					let len=selectList.length;
					if(this.checked){
						for(let i=0;i<len;i++){
							let item=selectList[i];
							item.checked=false;
						}
						this.checked=false;
						this.selectList=[];
					}else{
						for(let i=0;i<len;i++){
							let item=selectList[i];
							if(item.checked===false){
								item.checked=true;
								this.selectList.push(selectList[i].value);
							}
						}
						this.checked=true;
					}
				}
			}
		})
	</script>
</body>
</html>